.vscode/**
.vscode-test/**
test/**
backend/**
webview-ui/**

*.log
.env

setup.md
devsetup.md
vsc-extension-quickstart.md
jsconfig.json

media/dist/**
media/node_modules/**
.gitignore
.vscode-test.*
eslint.config.mjs
backend/problems
SUPER_CONTEXT.txt
leaderboard-ui